{% extends "base.html" %}
{% block title %}- Page Not Found{% endblock %}
{% block f_style %}
{% endblock %}
<style>
    body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
</style>
{% block content %}
<div class="page-header container">
<br><br><br><br><br><br><br><br><br>
    <div class="row">
        <div class="col justify-content-center align-self-center text-center">
            <h1>404 Oops! Looks like the page doesn't exist anymore.</h1>
        </div>
    </div>

</div>
{% endblock %}